body{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    background-color: #d3d3d3;
}

img{
    padding: 5px;
    border: 5px solid rgb(78, 61, 50);
    border-radius: 1%;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    line-height: 1px;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1px;
    color: #000000;
}

h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}