body{
    background-color: rgb(253, 253, 253);
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    border: solid 1px black;
}

.pergunta{
    color: orange;
    background-color: aqua;
}